<div class="row marketing">
  <h4>
    AngularJS Most Recent Commits
    <button class="btn btn-small" ng-click="refresh()">Refresh</button>
  </h4>
  <hr/>
  <div ng-repeat="commit in commits" class="row commit-bordered" ng-class="{'light-blue': endInNumber(commit.sha)}">
    <div class="col-md-1">
      <img ng-src="{{commit.author.avatar_url}}" width="40">
    </div>
    <div class="col-md-11">
      <div>
        <strong>
          {{getMsgTitle(commit.commit.message)}}
        </strong>
      </div>
      <span>
        {{commit.author.login}} committed {{getDifference(commit.commit.committer.date)}}
      </span>
      <span class="pull-right">
        commit: {{commit.sha}}
      </span>
    </div>
  </div>
</div>
